<%= link_to "Add picture",new_post_path, :class => "btn btn-primary" %>

<% @posts.each do |post| %>
    <% @post = post %>
    <div class="row">
        <div class="col-md-4">
            <%= render :partial => "show", :object => @post %>
        </div>
    </div>
<% end %>